services:
    mongo:
        image: mongo:6.0
        container_name: mongo
        restart: unless-stopped
        ports:
            - '27017:27017'
        env_file:
            - config/mongo.env
        volumes:
            - mongo_data:/data/db

    rabbitmq:
        image: rabbitmq:3-management
        container_name: rabbitmq
        restart: unless-stopped
        ports:
            - '5672:5672'
            - '15672:15672'
        env_file:
            - config/rmq.env
        volumes:
            - rabbit_data:/var/lib/rabbitmq

    gateway:
        build:
            context: .
            dockerfile: ./apps/gateway/Dockerfile
            target: development
        command: pnpm run start:dev gateway
        env_file:
            - ./apps/gateway/.env
        ports:
            - '3000:3000'
        volumes:
            - .:/usr/src/app
            - /usr/src/app/node_modules
volumes:
    mongo_data:
    rabbit_data:
