apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: gateway:latest
          command: ["node", "dist/apps/gateway/main"]
          ports:
            - containerPort: 3000
          envFrom:
            - secretRef:
                name: gateway-env
